.login-container{
  margin:auto;
  padding:100px 0px 100px 0px;
}
.login-container .login-box{
text-align:center;
margin:auto;
}
.login-container h1{
  text-align: center;
  color:red;
  font-weight: lighter;
  font-size:20px;

}
.login-box{
  width:33%;
  height:300px;
  border:1px solid #ADD8E6;
  background: #F8F8F8;
}
.login-box input{
  display: block;
  margin: 20px 10px 20px 10px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border:none;
  height:40px;
  width:80%;
  pading:10px 10px 10px 10px;
  border-left: 4px solid brown;
}
.login-box input[type=submit]{
  background: blue;
  color: white;
  border:none;
  font-weight: bolder;
  font-size: large;
}
.login-box p{
  color:purple;
  font-weight: lighter;
  margin:30px;
}
/*css for table*/
.table-container p{
  text-align: right;
  padding-right:180px;
  margin-bottom: 5px;

}
.table-container button{
  background:#7F00FF;
  color:white;
  font-family: Arial;
}
.table-container{
  margin-bottom:20px;
  margin-top: 20px;
  margin:auto;
  padding-top:30px;

}
.mytable{
  border-collapse: collapse;
  margin: auto;
}
.mytable th{
  background-color: #00BFFF	;
  color:white;
  padding:10px 5px 10px 5px;
  border:1px solid white;
}
.mytable td{
  border:1px solid white;
  text-align: center;
}
.table-container tr:nth-child(even) {background-color: lightgrey;}
/* css for form*/
.form-container{
  background: #F8F8F8;
  height:580px;
  margin-left:40px;
  margin-right:40px;

}
.form-control{
border-left:5px solid brown;
}
.form-container p,.details-container p{
  margin-bottom:-20px;
}
/*css for details*/
.details-container{
  width:75%;
  background: #F8F8F8;
  margin-bottom:20px;
}
